body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
.todo-details {
  display: flex;
  flex-direction: column;

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em 1em;
  }

  .item {
    flex: 1;
    padding: 1em;
  }
}
.itemStatus {
  width: 20%;
}
.todo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2em;

  form {
    display: flex;
    flex-direction: column;
    margin-right: 2em;

    label {
      display: flex;
      flex-direction: column;
      margin-bottom: 1em;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    li {
      align-items: center;
      display: flex;
      flex-direction: row;
      font-size: 1em;

     

      

      button {
        border: none;
        cursor: pointer;
        padding: 3px;
        margin: 0 0.75em;
      }
    }
  }
}
